*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
html, body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}



header{
    background-color: #0a304c;
    width: 100%;
    /* min-height: 120px; */
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}

header.rolagem{
    padding: 5px 0px;
}


#menu{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#menu > img{
    display: none;
}

#nav-web{
    display: flex;
    align-items: center;
}

#nav-web > ul, #nav-mobile > ul{
    display: flex;
    align-items: center;
    /* gap: 20px; */
    list-style: none;
}

#nav-mobile{
    display: none;
}


a{
    text-decoration: none;
    color: #fff;
}

#navbarNav > nav > li{
    position: relative;
}

#navbarNav > nav > li::after{
    display: flex;
    position: absolute;
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: .4s ease-in
}

#navbarNav > nav > li:hover::after{
    display: flex;
    content: " ";
    width: 100%;
    background-color: #fff;
}

.navbar-nav{
    display: flex;
    justify-content: end;
    flex-grow: 1;
    --bs-nav-link-padding-x: 1rem;
}

.nav-pills{
    --bs-nav-pills-link-active-bg:#92be72;
}

.navbar-dark, .navbar[data-bs-theme=dark]{
    --bs-navbar-color: rgb(255, 255, 255, .9);
}



/* ---------------------------------------------------------------------------- */

#carrossel{
    background-image: url(./assets/image/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 120px;
    margin: 0 auto;

}
section{
    min-height: calc(100vh - 120px);
    padding-top: 120px;
    padding-bottom: 50px;
    margin: 0 auto;
}
#sobre{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}
#texto-sobre{
    width: 50%;
    line-height: 1.5rem;
}

#img-sobre{
    width: 40%;
    
}

#img-sobre > img{
    width: 100%;
}

#texto-sobre > h2{
    font-size: 2.5rem;
    margin-bottom: 30px;
}
#texto-sobre > hr{
    border: .1px solid #4d4d4d26;
}


p{
    margin-top: 15px;
    font-size: 1.1rem;
    color: rgb(36, 36, 36);
    margin-bottom: 30px;
}

button{
    background-color: #69a63e;
    border: none;
    /* width: 150px;
    height: 50px; */
    border-radius: 25px;
    font-size: 20px;
    color: #fff;
    transition: .3s linear;
}

.button-mais{
    width: 150px;
    height: 50px;
}

button:hover{
    background-color: #92be72;
    transition: .3s linear;
    box-shadow: 3px 3px 2px #26341649;

}




/* ---------------------------------------------------------------------------- */

#section-certificados{
    padding-top: 50px;
    width: 80%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

#header-certificados, #perguntas-header{
    text-align: center;
    width: 100%;

}

h2{
    font-size: 2rem;
    color: #0a304c;
}

#header-certificados > hr{
    margin: 20px 0;
    border: .1px solid #4d4d4d26
}

#certificados{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    
}
.certificado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}   

.certificado-texto{
    font-size: .8rem;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #0a304c;
    color: #fff;
    border-radius: 10px;
    margin-top: -15px;
    margin-bottom: -30px;
    max-width: 350px;
    text-align: center;
    z-index: -1;
}
.certificado-texto > h2{
    margin: 10px 0px;
    color: #fff;
}

.certificado-texto > p{
    color: #fff;

}

/* --------------------------------------------------------------------------- */
#whats{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#whats > a > img{
    width: 100%;
    height: 100%;

}




/* ---------------------------------------------------------------------------- */

#duvidas{
    padding-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    
}

#perguntas-header > hr{
    margin: 20px 0px;
    border: .1px solid #4d4d4d26
}


#perguntas{
    width: 100%;
}

details{
    background-color: #0a304c;
    color: #fff;
    border-radius: 20px;
    color: #fff;
}

details > summary{
    margin-top: 10px;
    background-color: #0a304c;
    padding: 20px 5px;
    
    border-radius: 20px;
}

details > hr{
    margin-top: 5px;
    border: 1px solid #ffffff7d;
}

details > p{
    padding: 15px;
    color: #fff;
}


/* ---------------------------------------------------------------------------- */

footer{
    background-color: #0a304c;
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;

}

#social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#social > a {
    display: flex;
    align-items: center;
    gap: 10px;
}

main{
    min-height:100vh;
    padding-top: 120px;
}


.certificado-page{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 40px 30px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.certificado-descricao{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagem-certificado{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
}

.container{
    margin: 30px 0;
    padding-left: 30px;
}


.listas-certidicados{
    margin: 50px 40px;
}
.listas-certidicados > li{
    margin-bottom: 10px;
    color: #000;
}

.container > hr{
    margin: 30px 0px;
}
.container-produto{
    position: relative;
    width: 31%;
    min-width: 300px;
}

.produto{
    width: 30%;
    max-width: 400px;
    position: fixed;
    right: 30px;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #0a314c78;
    color: #000;

}

.produto > h2{
    text-align: center;
    font-size: 2rem;
}

.produto > p{
    text-align: center;
    margin-top: 5px;
    font-size: 0.8rem;
}

.div-select{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    
}

select{
    width: 50%;
    height: 2rem;
}

.valores{
    margin-top: 30px;
}

.valores > p{
    margin: 0px ;
    color: gray;
    text-decoration: line-through;
}

.botao{
    
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
.botao > a{
    width: 100%;
    text-align: center;
}

.botao > a > button{
    width: 90%;
}


@media screen and (max-width:1000px) {

    html{
        scroll-padding-top: 200px;
    }

    header.rolagem{
        padding: 20px 0px;
    }
    

    #nav-web{
        display: none;
    }

    #nav-mobile{
        list-style: none;
        transition: .5s linear;
    }
    

    #nav-mobile > ul {
        flex-direction: column;
    }  
    
    #menu > img{
    display: block;
    }

    #sobre{
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        align-items: center;
        justify-content: space-around;
    }

    #texto-sobre{
        width: 100%;
        text-align: center;
    }
    
    #img-sobre{
        width: 50%;
        margin-bottom: 50px;
        
    }
    
    #img-sobre > img{
        width: 100%;
    }

    #texto-sobre > h2{
        display: none;
    }

    .certificado-page{
    flex-direction: column;
    align-items: center;
}
    .certificado-descricao{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-produto{
    position: relative;
    width: 90%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    }

    .produto{
    width: 100%;
    max-width: 800px;
    position: static;
    padding: 5%;
    }

    .produto > hr{
        margin: 30px 0px;
    }

    .div-select{

        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;
        
    }

}


